.innerBox img {
    overflow-wrap: break-word;
    width: 25rem;
    height: 25rem;
    margin: 0 auto;
    position: relative;
    justify-content: center;
    display: flex;

}

.itemBox {
    border: 2px solid gray;
    border-radius: 5px;
    height: 35rem;
    width: 30rem;
    justify-content: center;
    box-shadow: 13px 13px rgba(226, 235, 242, 0.838);
    margin: 0.5rem;
    background-color: white;
    
}

img{
    width: relative;
}

p{
    width: auto;
    text-align: center;
    overflow-wrap: break-word;  
}

h2 {
    text-align: center;
}

.likeButton {
    padding: 0.5rem;
    width: 5rem;
    margin-right: 1rem;
    border-radius: 20px;
    background-color: skyblue;
}

.deleteButton {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    margin: 0.1rem;
}

